---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Experience from '../components/Experience.tsx';
import { getCollection } from 'astro:content';
import Slider from '../components/Slider.astro';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
const allExperience = await getCollection('experience');
const workExperience = await getCollection('experience', ({ data }) => {
  // TODO: create a constant for the type 'work'
  return data.type === 'work';
});
const projectExperience = await getCollection('experience', ({ data }) => {
  return data.type === 'project';
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main style="width: 100%">
      <Slider sliderItems={['🚧 please excuse the construction 🚧']} />

      <div
        style="font-family: var(--font-secondary); font-size: var(--fs-base);"
        class="flex flex-column flex-ac-center pi-8 p-block-8 text-align-left"
      >
        <div class="text-align-left">
          <p>
            Hi, I'm <span class="font-secondary font-bold">Alberto Godinez</span>
          </p>
          <p>
            Currently living in Austin, Texas and working at <a href="https://expedia.com/trips/">Expedia Group</a> on trips
            experience.
          </p>
          <p>Hope you enjoy this little sliver of the internet!</p>
        </div>
      </div>
      <Experience
        allExperience={allExperience}
        workExperience={workExperience}
        projectExperience={projectExperience}
        client:load
      />
      <Footer />
    </main>
  </body>
</html>
